<div class="container mt-5">
  <h2>Register</h2>
  <form (ngSubmit)="registerUser()">
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input
        type="text"
        class="form-control"
        id="username"
        placeholder="Enter username"
        [(ngModel)]="username"
        name="username"
        required
      />
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="Enter email"
        [(ngModel)]="email"
        name="email"
        required
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Password"
        [(ngModel)]="password"
        name="password"
        required
      />
    </div>
    <div class="mb-3">
      <label for="repeatPassword" class="form-label">Repeat Password</label>
      <input
        type="password"
        class="form-control"
        id="repeatPassword"
        placeholder="Repeat password"
        [(ngModel)]="repeatPassword"
        name="repeatPassword"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
</div>
