<div class="container mt-5">
  <h2>Register</h2>

  <form [formGroup]="form" (ngSubmit)="register()">
    <!-- USERNAME INPUT-->
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input
        type="text"
        class="form-control"
        id="username"
        placeholder="Enter username"
        name="username"
        formControlName="username"
        [ngClass]="{
          'input-success':
            form.get('username')?.valid && form.get('username')?.touched,
          'input-error':
            form.get('username')?.invalid && form.get('username')?.touched
        }"
      />

      <!-- USERNAME VALIDATIONS-->
      <ng-container *ngIf="form.get('username')?.touched">
        <p class="error" *ngIf="form.get('username')?.errors?.['required']">
          Username is required!
        </p>
        <p class="error" *ngIf="form.get('username')?.errors?.['minlength']">
          Username's length should be at least 5 characters!
        </p>
      </ng-container>
    </div>

    <!-- EMAIL INPUT-->
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="Enter email"
        formControlName="email"
        name="email"
        [ngClass]="{
          'input-success':
            form.get('email')?.valid && form.get('email')?.touched,
          'input-error':
            form.get('email')?.invalid && form.get('email')?.touched
        }"
      />

      <!-- EMAIL VALIDATIONS-->
      <ng-container *ngIf="form.get('email')?.touched">
        <p class="error" *ngIf="form.get('email')?.errors?.['required']">
          Email is required!
        </p>
        <p class="error" *ngIf="form.get('email')?.errors?.['pattern']">
          Email is not valid!
        </p>
      </ng-container>
    </div>

    <ng-container formGroupName="passGroup">
      <!-- PASSWORD INPUT--> 
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Password"
          formControlName="password"
          name="password"
          [ngClass]="{
            'input-success':
              form.get('passGroup')?.get('password')?.valid &&
              form.get('passGroup')?.get('password')?.touched,
            'input-error':
              form.get('passGroup')?.get('password')?.invalid &&
              form.get('passGroup')?.get('password')?.touched
          }"
        />

        <!-- PASSWORD VALIDATIONS-->
        <ng-container *ngIf="form.get('passGroup')?.get('password')?.touched">
          <p
            class="error"
            *ngIf="form.get('passGroup')?.get('password')?.errors?.['required']"
          >
            Password is required!
          </p>
          <p
            class="error"
            *ngIf="form.get('passGroup')?.get('password')?.errors?.['minlength']"
          >
            Password must be at least
            {{
          form.get('passGroup')?.get('password')?.errors?.['minlength']?.['requiredLength']
            }}
            characters!
          </p>
        </ng-container>
      </div>

      <!-- RE-PASSWORD INPUT-->
      <div class="mb-3">
        <label for="repeatPassword" class="form-label">Repeat Password</label>
        <input
          type="password"
          class="form-control"
          id="repeatPassword"
          placeholder="Repeat password"
          formControlName="repeatPassword"
          name="repeatPassword"
        />
        <!-- [ngClass]="{
            'input-success':
              form.get('passGroup')?.get('repeatPassword')?.valid &&
              form.get('passGroup')?.get('repeatPassword')?.touched,
            'input-error':
              form.get('passGroup')?.get('repeatPassword')?.invalid &&
              form.get('passGroup')?.get('repeatPassword')?.touched
          }" -->

        <!-- RE-PASSWORD VALIDATIONS-->
        <ng-container
          *ngIf="form.get('passGroup')?.get('repeatPassword')?.touched"
        >
          <p
            class="error"
            *ngIf="form.get('passGroup')?.errors?.['matchPasswordsValidator'] ||
             form.get('passGroup')?.get('repeatPassword')?.errors?.['required']"
          >
            Repeat Password does not match password!
          </p>
        </ng-container>
      </div>
    </ng-container>

    <button [disabled]="form.invalid" type="submit" class="btn btn-primary">
      Register
    </button>
  </form>

  <!-- Display error message if there is one -->
  <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>

  <p class="text-center">
    Have an account?
    <a routerLink="/auth/login">Log In</a>
  </p>
</div>
