<!-- h1 for test view -->
<h1>RECIPE LIST</h1>

<div class="container">
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let recipe of recipes">
      <div class="card">
        <img class="card-img-top" [src]="recipe.imageUrl" alt="Recipe Image" />
        <div class="card-body">
          <h5 class="card-title">{{ recipe.title }}</h5>
          <p class="card-text">{{ recipe.description | slice: 50 }}</p>

          <a
            [routerLink]="['/recipes/details', recipe.id]"
            class="btn btn-primary"
            >View Recipe</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
