<div class="container">
  <div class="row">
    <div class="col-md-12 text-center mt-5">
      <h1>Welcome to CulinaryCompass!</h1>
      <p class="lead">Discover Delicious Recipes for Every Occasion</p>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-4 mb-4" *ngFor="let recipe of recipes">
      <div class="card">
        <img
          class="card-img-top"
          [src]="recipe.imageUrl"
          [alt]="recipe.title"
        />
        <div class="card-body">
          <h5 class="card-title">{{ recipe.title }}</h5>
          <p class="card-text">{{ recipe.description }}</p>
          <a [routerLink]="['/recipes', recipe.id]" class="btn btn-primary"
            >View Recipe</a
          >
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-12 text-center">
      <h2>About Us</h2>
      <p>
        Welcome to CulinaryCompass, your go-to source for delicious and easy
        recipes! Whether you're a seasoned chef or just starting in the kitchen,
        we have something for everyone. Explore our collection of recipes, from
        quick weeknight dinners to impressive desserts. Happy cooking!
      </p>
    </div>
  </div>
</div>
