@import "~bootstrap/dist/css/bootstrap.min.css";

.card {
  display: flex;
  flex-direction: column;
  height: 440px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  padding: 1rem;
}
