<div class="container py-4">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <!-- ** USER'S INFO -->

      <div class="card" [style.height.px]="isEditMode ? 340 : 220">
        <div class="card-header">
          <h3 class="mb-0">Profile Information</h3>
        </div>

        <div class="card-body">
          <!-- ** READ ONLY -->
          <div *ngIf="!isEditMode">
            <div class="form-group row">
              <label for="username" class="col-sm-3 col-form-label">Username:</label>
              <div class="col-sm-9">
                <p class="form-control-plaintext">{{ profileDetails?.username }}</p>
              </div>
            </div>
            <div class="form-group row">
              <label for="email" class="col-sm-3 col-form-label">Email:</label>
              <div class="col-sm-9">
                <p class="form-control-plaintext">{{ profileDetails?.email }}</p>
              </div>
            </div>
            <div class="btn-container">
              <button class="btn btn-primary" (click)="toggleEditMode()">Edit</button>
            </div>
          </div>

          <!-- ** EDIT MODE -->
          <div *ngIf="isEditMode" class="edit-mode">
            <form [formGroup]="form" (ngSubmit)="saveProfileHandle()">
              <!-- username input -->
              <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" formControlName="username" class="form-control" 
                [ngClass]="{
                  'input-success':
                    form.get('username')?.valid && form.get('username')?.touched,
                  'input-error':
                    form.get('username')?.invalid && form.get('username')?.touched
                }"/>
              </div>

              <!-- username validations -->
              <ng-container *ngIf="form.get('username')?.touched" class="invalid-feedback">
                <div *ngIf="form.get('username')?.errors?.['required']" class="error">Username is required!</div>
                <div *ngIf="form.get('username')?.errors?.['minlength']" class="error">Username should be at least 5 characters!</div>
              </ng-container>

              <!-- email input -->
              <div>
                <label for="email" class="email">Email</label>
                <input type="email" id="email" formControlName="email" class="form-control" 
                [ngClass]="{
                  'input-success':
                    form.get('email')?.valid && form.get('email')?.touched,
                  'input-error':
                    form.get('email')?.invalid && form.get('email')?.touched
                }"/>
              </div>

              <!-- email validations -->
              <ng-container *ngIf="form.get('email')?.touched" class="invalid-feedback">
                <div *ngIf="form.get('email')?.errors?.['required']" class="error">Email is required!</div>
                <div *ngIf="form.get('email')?.errors?.['pattern']" class="error">Invalid email format!</div>
              </ng-container>

              <!-- ACTION BTNS -->
              <div class="btn-container-2">
                <button type="submit" class="btn btn-success" [disabled]="form.invalid">Save</button>
                <button type="button" class="btn btn-danger" (click)="onCancel($event)">Cancel</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- ** USER'S RECIPES -->
      <div class="mt-4" *ngIf="recipes && recipes.length > 0">
        <h3>My Recipes</h3>
        <div class="list-group">
          <a *ngFor="let recipe of recipes" [routerLink]="['/recipes/details', recipe._id]" class="list-group-item list-group-item-action">
            <div class="d-flex justify-content-between">
              <h5 class="mb-1">{{ recipe.title }}</h5>
              <div>
                <a [routerLink]="['/recipes/edit', recipe._id]" class="btn btn-primary">Edit</a>
                <button type="button" class="btn btn-danger" (click)="onDeleteRecipe(recipe._id)">Delete</button>
              </div>
            </div>
            <p class="mb-1">{{ recipe.description | slice: 50 }}</p>
          </a>
        </div>
      </div>

      <!-- Show message if no recipes -->
      <div class="mt-4 no-recipes-message" *ngIf="recipes && recipes.length === 0">
        <div class="no-recipes-content">
          <p>You haven't published any recipes yet.</p>
          <p><a [routerLink]="'/recipes/add-recipe'" class="create-recipe-link">Start by creating your first recipe!</a></p>
        </div>
      </div>

    </div>
  </div>
</div>
