<h1>My Profile</h1>

<div *ngIf="userRecipes.length > 0">
  <ul>
    <li *ngFor="let userRecipe of userRecipes">
      <h2>{{ userRecipe.title }}</h2>
      <p>{{ userRecipe.description }}</p>
      <img [src]="userRecipe.imageUrl" alt="Recipe Image" *ngIf="userRecipe.imageUrl">
      <ul>
        <li *ngFor="let ingredient of userRecipe.ingredients">{{ ingredient }}</li>
      </ul>
      <ul>
        <li *ngFor="let step of userRecipe.instructions">{{ step }}</li>
      </ul>
    </li>
  </ul>
</div>
<div *ngIf="userRecipes.length === 0">
  <p>No recipes found.</p>
</div>
