.footer {
  background-color: #343a40;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer p {
  margin-bottom: 0;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  display: inline-block;
  margin-right: 40px;
}

.footer ul li:last-child {
  margin-right: 0;
}

.footer ul li a {
  color: #fff;
  text-decoration: none;
}

.footer ul li a:hover {
  text-decoration: underline;
}
