<div class="container">
  <h2>Add New Recipe</h2>
  <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title">Recipe Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        formControlName="title"
        required
      />
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea
        class="form-control"
        id="description"
        formControlName="description"
        rows="3"
      ></textarea>
    </div>

    <div class="form-group">
      <label for="image">Image URL</label>
      <input
        type="text"
        class="form-control"
        id="image"
        formControlName="image"
      />
    </div>

    <!-- Ingredients -->
    <div class="form-group">
      <label for="ingredients">Ingredients</label>
      <div formArrayName="ingredients">
        <div
          *ngFor="let ingredient of ingredients.controls; let i = index"
          class="input-group mb-2"
        >
          <input
            type="text"
            class="form-control"
            [formControlName]="i"
            placeholder="Ingredient {{ i + 1 }}"
          />
          <button
            type="button"
            class="btn btn-danger"
            (click)="removeIngredient(i)"
          >
            -
          </button>
        </div>
        <button type="button" class="btn btn-success" (click)="addIngredient()">
          Add Ingredient
        </button>
      </div>
    </div>

    <!-- Instructions -->
    <div class="form-group">
      <label for="instructions">Instructions</label>
      <div formArrayName="instructions">
        <div
          *ngFor="let instruction of instructions.controls; let i = index"
          class="input-group mb-2"
        >
          <input
            type="text"
            class="form-control"
            [formControlName]="i"
            placeholder="Step {{ i + 1 }}"
          />
          <button
            type="button"
            class="btn btn-danger"
            (click)="removeInstruction(i)"
          >
            -
          </button>
        </div>
        <button
          type="button"
          class="btn btn-success"
          (click)="addInstruction()"
        >
          Add Instruction
        </button>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
