<nav id="navbar">
  <ul>
    <!-- **SITE LOGO -->
    <li class="navbar-brand">
      <a routerLink="/home"><i class="fas fa-utensils"></i>CulinaryCompass</a>
    </li>

    <li class="burger" (click)="toggleMenu()">
      <i class="fas" [ngClass]="isMenuOpen ? 'fa-times' : 'fa-bars'"></i>
    </li>

    <li class="menu" [class.is-open]="isMenuOpen">
      <span></span>
      <!-- **GENERAL ROUTES -->
      <div class="general-routes">
        <a class="menu-item" routerLink="/home"
          ><i class="fas fa-home"></i>Home</a
        >
        <a class="menu-item" routerLink="/recipes/add-recipe" *ngIf="isLoggedIn"
          ><i class="fas fa-plus"></i>Add Recipe</a
        >
        <a class="menu-item" routerLink="/recipes/recipes-list"
          ><i class="fas fa-book"></i>Recipes</a
        >
        <a class="menu-item" routerLink="/about"
          ><i class="fas fa-info-circle"></i>About</a
        >
        <a class="menu-item contact" routerLink="/contact"
          ><i class="fas fa-envelope"></i>Contact</a
        >
      </div>

      <!-- **AUTH ROUTES -->
      <div class="auth-routes">
        <a class="menu-item" routerLink="/auth/login" *ngIf="!isLoggedIn"
          ><i class="fas fa-sign-in-alt"></i>Login</a
        >
        <a class="menu-item" routerLink="/auth/register" *ngIf="!isLoggedIn"
          ><i class="fas fa-user-plus"></i>Register</a
        >
        <a class="menu-item" routerLink="/auth/profile" *ngIf="isLoggedIn"
          ><i class="fas fa-user"></i>My Profile</a
        >
        <a class="menu-item logout" (click)="logout()" *ngIf="isLoggedIn"
          ><i class="fas fa-sign-out-alt"></i>Logout</a
        >
      </div>
    </li>
  </ul>
</nav>
