.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

a {
  cursor: pointer;
  display: inline-block;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

a.navbar-brand:hover {
  color: lightgray;
}

a.nav-link {
  text-wrap: nowrap;
}

i {
  margin-right: 0.3em;
}

#navbarNav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbarNav .general-routes {
  display: flex;
}

#navbarNav .auth-routes {
  display: flex;
  align-self: flex-end;
  /* border: 2px solid red; */
}

#navbar.navbar-nav.ms-auto li a {
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
}

#navbarNav.navbar-nav.ms-auto li a {
  margin-right: 4px;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
}

#navbarNav.navbar-nav.ms-auto li a:hover {
  color: white;
  background-color: rgba(13, 110, 253, 0.8);
}
