<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 offset-md-3 text-center">
      <img
        src="https://cdn.pixabay.com/photo/2015/12/22/04/00/photo-1103599_1280.png"
        alt="Error Image"
        class="img-fluid"
        style="max-width: 300px"
      />
      <h1 class="display-4 mt-4">Oops!</h1>
      <p class="lead">
        The page you are looking for might be temporarily unavailable or the
        link you followed is incorrect.
      </p>
      <a routerLink="/" class="btn btn-primary mt-3">Go Back to Home</a>
    </div>
  </div>
</div>
