.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-primary {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #28a745;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #218838;
}

/* ERRORS */
button.btn.btn-danger.ms-2 {
  margin-right: 2rem;
}

p.error {
  border-radius: 0.3em;
  color: red;
  padding-top: 0;
  font-style: italic;
}

.input-error {
  border-left: 2px solid red;
}

.input-success {
  border-left: 2px solid green;
}

.alert.alert-danger {
  margin-top: 1rem;
}
