<div *ngIf="isLoading">
  <app-loader></app-loader> 
</div>

<div *ngIf="!isLoading" class="recipe-details-container">
  <div class="recipe-details">
    <h2>{{ recipe?.title }}</h2>
    <p class="description">{{ recipe?.description }}</p>
    <div class="image-container">
      <img
        [src]="recipe?.imageUrl"
        alt="{{ recipe?.title }}"
        class="recipe-image"
      />
    </div>

    <div class="details-section">
      <h3 class="section-title">Ingredients:</h3>
      <ul class="ingredients-list">
        <li *ngFor="let ingredient of recipe?.ingredients" class="ingredient">
          {{ ingredient }}
        </li>
      </ul>
    </div>

    <div class="details-section">
      <h3 class="section-title">Instructions:</h3>
      <ol class="instructions-list">
        <li
          *ngFor="let instruction of recipe?.instructions"
          class="instruction"
        >
          {{ instruction }}
        </li>
      </ol>
    </div>

    <button *ngIf="canEditRecipe()" class="btn btn-primary" (click)="editRecipe()">Edit</button>
    <button *ngIf="canDeleteRecipe()" class="btn btn-danger" (click)="deleteRecipe()">Delete</button>
  </div>
  </div>
