<div class="container mt-5">
  <h2>Login</h2>
  <form #form="ngForm" (ngSubmit)="login(form)">
    <!-- INPUT EMAIL -->
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="Enter email"
        name="email"
        ngModel
        #inputEmail="ngModel"
        pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
        required
        [ngClass]="{
          'input-success': inputEmail.valid && inputEmail.touched && !hasError,
          'input-error': (inputEmail.invalid || hasError) && inputEmail.touched
        }"
      />

      <!-- EMAIL VALIDATIONS -->
      <ng-container *ngIf="inputEmail.touched">
        <p class="error" *ngIf="inputEmail.errors?.['required']">
          Email is required!
        </p>
        <p class="error" *ngIf="inputEmail.errors?.['pattern']">
          Email is not valid!
        </p>
      </ng-container>
    </div>

    <!-- PASSWORD INPUT -->
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Password"
        name="password"
        #inputPassword="ngModel"
        ngModel
        required
        minlength="5"
        [ngClass]="{
          'input-success':
            inputPassword.valid && inputPassword.touched && !hasError,
          'input-error':
            (inputPassword.invalid || hasError) && inputPassword.touched
        }"
      />

      <!-- PASSWORD VALIDATIONS -->
      <ng-container *ngIf="inputPassword.touched">
        <p class="error" *ngIf="inputPassword.errors?.['required']">
          Password is required!
        </p>
        <p class="error" *ngIf="inputPassword.errors?.['minlength']">
          Password must be at least
          {{inputPassword.errors?.['minlength']['requiredLength']}} characters!
        </p>
      </ng-container>
    </div>

    <!-- ACTION -->
    <button [disabled]="form.invalid" type="submit" class="btn btn-primary">
      Login
    </button>
  </form>

  <!-- Error Message -->
  <div *ngIf="errorMessage" class="alert alert-danger mt-3" role="alert">
    {{ errorMessage }}
  </div>

  <p class="text-center">
    Have an account?
    <a routerLink="/auth/register">Register</a>
  </p>
</div>
